.styleA{
    color:rebeccapurple;
    background: red;
    border: 2px solid greenyellow;
    
}
.styleB{
    color:blue;
    background: rgb(140, 0, 255);
    border: 2px solid fuchsia;
    
}
.styleC{
    color:brown;
    background: rgb(39, 148, 72);
    border: 2px solid aqua;
    
}